.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  #content {
    border: 1px solid #BFBFBF;
    box-shadow: 3px 3px 3px #aaaaaa;
    border-color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
    margin: auto;
    width: 50%;
}

mat-form-field{
    width: 100%;
}

h2{
    text-align: center;
}