<!-- <div id="content">
  <table mat-table [dataSource]="ipalDataList" class="mat-elevation-z8">
    <ng-container matColumnDef="bkmName">
      <th mat-header-cell *matHeaderCellDef> BKM Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bkmName}}</td>
    </ng-container>

    <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef> District </th>
        <td mat-cell *matCellDef="let element"> {{element.district}}</td>
    </ng-container>

    <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef> Province </th>
        <td mat-cell *matCellDef="let element"> {{element.province}}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.category}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ipalDataColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ipalDataColumns;"></tr>
  </table>
</div> -->
<div id="content">
  <table mat-table [dataSource]="ipalDataList" multiTemplateDataRows
    class="mat-elevation-z8" align="center">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of ipalDataColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}}</td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="ipalDataColumns.length">
          <div class="example-element-detail"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <!-- <agm-map [latitude]="element.latitude" [longitude]="element.longitude">
                <agm-marker [latitude]="element.latitude" [longitude]="element.longitude"></agm-marker>
              </agm-map> -->
            <!-- <div class="example-element-diagram">
          
            </div> -->
            <img src="http://ipaljakarta.web.id/assets/upload/{{element.photo}}" alt="5 Terre" style="width:50%; height: 50%;">
            <div class="example-element-description">
              {{element.address}}
              <!-- <span class="example-element-description-attribution"> --  Lihat detail </span> -->
              <button mat-button (click)="openDialog(element)">Lihat detail</button>
            </div>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="ipalDataColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: ipalDataColumns;" 
      class="example-element-row" 
      [class.example-expanded-row]="expandedElement === element" 
      (click)="expandedElement = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<!-- <agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-marker *ngFor="let data of ipalDataList">
    <agm-marker [latitude]="data.latitude" [longitude]="data.longitude"></agm-marker>
  </agm-marker>
</agm-map> -->