<div id="box">
  <h2>
    Login Page
  </h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username"/>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="password" matInput placeholder="Password" formControlName="password"/>
    </mat-form-field>
    <p> <button type="submit" mat-raised-button color="primary">Login</button> </p>
  </form>
</div>