<div id="content">
        <h2>Instalasi pengolahan air limbah (IPAL)</h2>
        <div class="mat-typography">
          <h3>Apa itu IPAL ?</h3>
          <div class="clearfix">
          <p>
                Instalasi pengolahan air limbah (IPAL) (wastewater treatment plant, WWTP), adalah sebuah bangunan atau instalasi yang memuat rangkaian proses fisik/biologis/kimia untuk mengolah air limbah sehingga air limbah yang telah diolah memenuhi baku mutu untuk dibuang atau dialirkan ke badan air atau perairan umum.
              <img src="http://ipaljakarta.web.id/assets/upload/home.jpeg" alt="Snow">
            </p>
            <p>
                Dengan perkembangan teknologi, saat ini air limbah yang telah diolah tersebut dapat dipakai sebagai air daur ulang (Recycled water).
            </p>
        </div>
        </div>
</div>
  <!-- <app-content-table></app-content-table> -->
  <!-- <app-content-table-detail></app-content-table-detail> -->
