<div id="content">
        <h2>Instalasi pengolahan air limbah (IPAL)</h2>
        <div class="mat-typography">
          <h3>Apa itu IPAL ?</h3>
          <div class="clearfix">
          <p>
              Instalasi pengolahan air limbah (IPAL) (wastewater treatment plant, WWTP), adalah sebuah struktur yang dirancang untuk membuang limbah biologis dan kimiawi dari air sehingga memungkinkan air tersebut untuk digunakan pada aktivitas yang lain.
              <img src="../assets/content1.jpg" alt="Snow">
            </p>
            <p>
                    Meski demikian, dapat juga didesain sebuah fasilitas pengolahan tunggal yang mampu melakukan beragam fungsi.[1] Beberapa metode seperti biodegradasi diketahui tidak mampu menangani air limbah secara efektif, terutama yang mengandung bahan kimia berbahaya.[2]
            </p>
        </div>
        </div>
</div>
  <!-- <app-content-table></app-content-table> -->
  <!-- <app-content-table-detail></app-content-table-detail> -->
